{%extends 'admin_base.html'%}

{%block title%}Admin Products{%endblock%}

{%block content%}
  <!-- partial -->
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        {%if messages%}
{%for message in messages%}
<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
    <strong></strong> {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{%endfor%}
{%endif%}
<!-- ------------------------------------------------------------------------------------------------Tablee-------------------------------------------------------------------------------------------------- -->
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="row ">
             <!-- <div class="col-sm-6"> -->
               <h4 class="card-title">Product</h4>
          </div>
          <!-- <div class="col-sm-6">

              <button style="float: right;" >Add</button>
             </div>
              </div> -->
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>
                        No
                      </th>
                      <th>
                        Product image
                      </th>
                      <th>
                       Product Name
                      </th>
                      <th>
                        Price
                      </th>
                      <th>
                        Discounted Price
                      </th>
                      <th>
                        Discount
                      </th>
                      <th>
                        Added On
                      </th>
                      <th style="text-align:center">
                        Action
                      </th>
                    </tr>
                  </thead>
                  {%if product%}
                  {%for i in product%}
                  <tbody>
                    <tr>
                      <td class="py-1">
                        {{forloop.counter}}
                      </td>
                      <td>
                        <img src="{{i.product_image.url}}" alt="image">
                      </td>
                      <td>
                        {{i.product_name}}
                      </td>
                      <td>
                        {{i.max_price}}
                      </td>
                      <td>
                        {{i.final_price}}
                      </td>
                      <td>
                        {{i.max_discount}}
                      </td>
                      <td>
                        {{i.time_added.date}}
                      </td>

                      <td >
                        <a href="#" class="btn btn-primary">View More</a>

                      </td> 
                    </tr>


                  </tbody>
                  {%endfor%}
                  {%endif%}
                </table>
              </div>
          </div>
        </div>
      </div>
    </div>

{%endblock%}