{% extends 'base.html' %}
	
{% block content %}


<!-- End Header Area -->

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Shopping Wishlist</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html">Wishlist</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!--================Cart Area =================-->
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in wish_items %}
                        <tr class="cart-item"  data-item-id = "{{ item.id }}">
                            <td >
                                <div class="media ">
                                    <div class="d-flex">
                                        <img src="{{ item.product.image_1.url }}" alt="" style="height:272px;width:auto;">
                                    </div>
                                    <div class="media-body">
                                        <p>{{ item.product.name }} </p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h5>{{ item.product.price }}</h5>
                            </td>
                            <!-- <td>
                                <div class="quantity ">
                                    <button class="btn btn-link px-2 minus-btn ">
                                         <i class="fas fa-minus"></i>
                                    </button>
                                        <input class=" fw-bold text-black qty-input " min="1" style="width: 32px;" name="" value="{{ item.quantity}}" type="number">
                                     <button class="btn btn-link px-2 text-center">
                                         <i class="fas fa-plus plus-btn"></i>
                                     </button>
                                 </div>
                            </td> -->
                            <td>
                                <div class="checkout_btn_inner d-flex align-items-center">
                                    
                                   
                                    <a class="primary-btn" href="{% url 'single_product' item.product.id %}">View product</a>
                                </div>
                            </td>
                            <td>
                                <a href="./remove_wish/{{item.id}}"> <button class="btn p-0 m-0" style="border: none;background-color:#fff;"><ion-icon name="close-circle-outline"></ion-icon></button></a>  
                            </td>
                            
                        </tr>
                        {% endfor %}
                        
                        <tr class="bottom_button">
                            <td>
                                <a class="gray_btn" href="{% url 'index' %}">Update Wishlist</a>
                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                <!-- <div class="cupon_text d-flex align-items-center">
                                    <input type="text" placeholder="Coupon Code">
                                    <a class="primary-btn" href="#">Apply</a>
                                    <a class="gray_btn" href="#">Close Coupon</a>
                                </div> -->
                            </td>
                        </tr>
                        <tr>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                <h5>Subtotal</h5>
                            </td>
                            <td>
                                <h5 id="total">{{ total_price }}</h5>
                            </td>
                        </tr>
                        <tr class="shipping_area">
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                <!-- <h5>Shipping</h5> -->
                            </td>
                            <td>
                                <!-- <div class="shipping_box">
                                    <ul class="list">
                                        <li><a href="#">Flat Rate: $5.00</a></li>
                                        <li><a href="#">Free Shipping</a></li>
                                        <li><a href="#">Flat Rate: $10.00</a></li>
                                        <li class="active"><a href="#">Local Delivery: $2.00</a></li>
                                    </ul>
                                    <h6>Calculate Shipping <i class="fa fa-caret-down" aria-hidden="true"></i></h6>
                                    <select class="shipping_select">
                                        <option value="1">Bangladesh</option>
                                        <option value="2">India</option>
                                        <option value="4">Pakistan</option>
                                    </select>
                                    <select class="shipping_select">
                                        <option value="1">Select a State</option>
                                        <option value="2">Select a State</option>
                                        <option value="4">Select a State</option>
                                    </select>
                                    <input type="text" placeholder="Postcode/Zipcode">
                                    <a class="gray_btn" href="#">Update Details</a>
                                </div> -->
                            </td>
                        </tr>
                        <tr class="out_button_area">
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                <!-- <div class="checkout_btn_inner d-flex align-items-center">
                                   
                                    <a class="primary-btn" href="{% url 'checkout'%}">Proceed to checkout</a>
                                </div> -->
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->

<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
$(document).on('click', '.plus-btn, .minus-btn', function() {
var $cartItem = $(this).closest('.cart-item');
var itemId = $cartItem.data('item-id');
var isAdding = $(this).hasClass('plus-btn');
var $qtyInput = $cartItem.find('.qty-input');

var quantity = parseInt($qtyInput.val());
console.log(quantity)
if (isAdding) {
quantity += 1;
} else if (quantity > 1) {
quantity -= 1;
} else {
return;
}
console.log(quantity)
$.ajax({
type: 'POST',
url: 'update_cart',
data: {
  item_id: itemId,
  quantity: quantity,
  csrfmiddlewaretoken: '{{ csrf_token }}'
},
success: function(data) {
  if (data.status === 'error') {

    $('#message').text(data.message);
   
  } else {
    console.log(data);
    console.log(data.total)
    console.log(data.sub_total)

    $qtyInput.val(data.quantity);
    $('#total').text(data.total);
    $('#sub-' + itemId).text(data.sub_total);
  }
},
error: function(xhr, textStatus, errorThrown) {
  $('#errorMessage').text('An error occurred while updating the cart.');
  $('#errorModal').modal('show');
}
});
});
</script> -->

<!-- <script>
    $(document).on('click', '.lnr-chevron-up, .lnr-chevron-down"', function() {
    var $Cart = $(this).closest('.cart-item');
    var itemId = $Cart.data('item-id')
    console.log(itemId)
    var isAdding = $(this).hasClass(' plus-btn');
    var $qtyInput = $Cart.find('.qyt-input');
    var quantity = parseInt($qtyInput.val());

    if (isAdding){
        quantity += 1;
    }else if (quantity> 1){
        quantity -= 1;

    }else{
        return;
    } 
}

    $.ajax({
        type: 'POST',
        URL: 'upadte_cart',
        data:{
            item_id: itemId,
            quantity: quantity,
            casrfmiddlewaretoken: '{{csrf_token}}'

        },
    success: function(data){
        console.log(data)
        $qtyInput.val(data.quantity);
        $('#totel').text(data.totel);
    }


    }
</script> -->
{% endblock %}
<!--================End Cart Area =================-->

<!-- start footer Area -->
